*{
    margin: 0;
    padding: 0;
}

.body{
    background-color:rgb(0, 34, 255);
}

h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5{
    text-align: center;
}

.card{
    padding-top: 30px;
    margin-top: 20px;
    padding-bottom: 35px;
    margin-bottom: 90px;
}

#res{
    color: rgb(85, 82, 82);
}

.name{
    color: white;
}

#title{
    color: rgb(55, 49, 229);
}